<div class="container-fluid one">
    <input (click)="isLoginPage = true" type="submit" style="margin:20px" value="Login" class="btn btn-warning btn-lg">
    <input (click)="isLoginPage = false" type="submit" value="Register" class="btn btn-dark btn-lg"></div>
<div class="container-fluid">
    
    <form *ngIf="isLoginPage"  [formGroup]="userForm" (submit)="onSubmit()" class="col-4 offset-4"
        style="text-align: center">
        <div class="form-group ">
            <div class="input-group">
                <input  type="email"  formControlName="email" name="email" class="form-control"
                    placeholder="Username or email">

            </div>
        </div>
        <div class="form-group ">
            <div class="input-group">
                <input type="password"  formControlName="password" name="password"
                    class="form-control" placeholder="Password [a-Za-z] [@#$%]" required>
            </div>
        </div>
        <div class="form-group">
            <input type="checkbox"  formControlName="remember" required>
            <label for="rememberMe"> I agree to the terms and conditions</label>
        </div>

        <input type="submit" style="margin-bottom: 20px" [disabled]="!form.valid" value="Login"
            class="btn btn-success btn-custom">
    </form>



    <!-- BOTTOM INPUTS -->
    <form *ngIf="!isLoginPage" #myForm="ngForm" [formGroup]="regForm" class="col-4 offset-4" style="text-align: center">
        <div class="form-group ">
            <div class="input-group">
                <input type="text" formControlName="username" name="register_username" class="form-control" placeholder="Username (min 3 letters)"
                    required>
            </div>
        </div>
        <div class="form-group ">
            <div class="input-group">
                <input type="text" name="register_fullname" formControlName="regFullName" class="form-control" placeholder="Full name"
                    required>
            </div>
        </div>
        <div class="form-group ">
            <div class="input-group">
                <input type="email" formControlName="emailReg" name="register_email" class="form-control" placeholder="Email" required>
            </div>
        </div>
        <div class="form-group ">
            <div class="input-group">
                <input type="password" formControlName="password" name="register_password" class="form-control" placeholder="Password (min 5 letters)"
                    required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="password" formControlName="cpassword" name="register_cpassword" class="form-control" placeholder="Confirm Password"
                    required>
            </div>
            <div class="red"><i *ngIf="regForm.hasError('notSame')">Passwords do not match
                </i></div>
        </div>
        <input type="submit" [disabled]="!myForm.form.valid" value="Register" class="btn btn-success btn-custom">
    </form>

    
        
 